.header {
  background: #F2F4F7;
}

.container {
  margin: 0 auto;
  padding: 16px 24px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 35%;
}

.nav {
  display: flex;
  gap: 24px;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

.link {
  text-decoration: none;
  color: #111;
  font-weight: 500;
}

.active {
  color: #e44848;
}
