.hero {
  height: calc(100vh - 60px);
  background-image: url("/hero.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  height: 100%;
  background: rgba(0, 0, 0, 0.45);

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-left: 80px;
}

.title {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
}

.text {
  color: #fff;
  font-size: 20px;
  margin-bottom: 40px;
  max-width: 500px;
}

.button {
  width: fit-content;
  padding: 14px 40px;

  background-color: #e44848;
  color: #fff;
  border-radius: 200px;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;

  transition: background-color 0.2s;
}

.button:hover {
  background-color: #d73737;
}